html, body {
    -moz-scroll-behavior: smooth;
    scroll-behavior: smooth;
    margin: 0 auto;
    
    font-family: sans-serif;
    color: #ffffff;
    color: rgba(255, 255, 255, 0.8);
    height: 100%;
}

#page1 {
    background-color: rgb(247,119,84);
    background-image: linear-gradient(317deg, rgba(247,119,84,1) 0%, rgba(83,125,145,1) 49%, rgba(164,209,200,1) 100%);
}

#page2 {
    background: rgb(83,125,145);
    background: linear-gradient(30deg, rgba(83,125,145,1) 0%, rgba(247,119,84,1) 100%);
}

#page3 {
    background: rgb(83,125,145);
    background: linear-gradient(124deg, rgba(83,125,145,1) 0%, rgba(164,209,200,1) 100%);
}

#page4 {
    background: rgb(164,209,200);
    background: linear-gradient(222deg, rgba(164,209,200,1) 0%, rgba(247,119,84,1) 100%);
}

#page5 {
    background: rgb(164,209,200);
    background: radial-gradient(circle, rgba(164,209,200,1) 15%, rgba(247,119,84,1) 100%);
}

html {
    height: 90%;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 10000;
}

div.row {
    margin-top: 0;
}

table, tr, td {
    border: none;
}

.child {
    -webkit-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}

.name-child {
    -webkit-flex: 3;
    -ms-flex: 3;
    -o-flex: 3;
    flex: 3;
}

.page-wrapper {
    z-index: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
}

.page {
    position: relative;
    width: 100%;
    height: 100%;
    /* padding: 5% 5%; */
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

::-webkit-scrollbar {
    display: none;
}
/* */
/* @media screen and (max-width: 1024px){ */
/*     .page-wrapper{ */
/*         display: block; */
/*         margin-top: 10%; */
/*     } */
/* } */

@keyframes bouncing {
    0%, 20%, 50%, 80%, 100% {
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    60% {
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

.arrow {
    -ms-animation: bouncing 2s infinite ease-in-out;
    -webkit-animation: bouncing 2s infinite ease-in-out;
    animation: bouncing 2s infinite ease-in-out;
    bottom: 0;
    display: block;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    position: absolute;
    width: 50px;
}

/*About page*/

h2 {
    margin-bottom: 3rem;
}

p {
    font-size: 1.5rem;
}

h2, p {
    text-align: center;
}

.icons ul {
    text-align: center;
    padding: 4rem 0rem;
    display: flex;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

    .icons ul li {
        -webkit-flex: 1 1 10rem;
        -ms-flex: 1 1 10rem;
        -o-flex: 1 1 10rem;
        flex: 1 1 10rem;
        padding: 15px 15px;
        margin: 50px;
        box-shadow: 2px 3px 10px 5px #584b42;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

        .icons ul li:hover {
            -ms-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
            /* background-color: #ebaecb; */
            background-color: #f77754;
        }

        .icons ul li:hover, .icons ul li a:hover {
            -ms-animation: hoverText 0.5s ease-in;
            -webkit-animation: hoverText 0.5s ease-in;
            animation: hoverText 0.5s ease-out;
            color: #26282f;
        }

.icons ul {
    -ms-animation: fade-animation ease 1s;
    -webkit-animation: fade-animation ease 1s;
    animation: fade-animation ease 1s;
}

    .icons ul li:nth-child(2) {
        -ms-animation: fade-animation ease 1s;
        -webkit-animation: fade-animation ease 1s;
        animation: fade-animation ease 1s;
    }

    .icons ul li:last-child {
        -ms-animation: fade-animation ease 2s;
        -webkit-animation: fade-animation ease 2s;
        animation: fade-animation ease 2s;
    }

@keyframes fade-animation {
    from {
        -ms-opacity: 0;
        opacity: 0;
        -ms-transform: translate(0px,25px);
        -webkit-transform: translate(0px,25px);
        transform: translate(0px,25px);
    }

    to {
        -ms-opacity: 1;
        opacity: 1;
        -ms-transform: translate(0px,0px);
        -webkit-transform: translate(0px,0px);
        transform: translate(0px,0px);
    }
}

/*Contacts Page*/

.page > h1 {
    text-align: center;
    margin-bottom: 3rem;
}

/*scroll to top button*/

.fixed-action-btn {
    position: fixed;
    z-index: 100;
    bottom: 30px;
    right: 30px;
    border: 1px solid darkgrey;
    -ms-border-radius: 50%;
    border-radius: 50%;
    padding: 10px 15px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 4px 5px 10px 5px #584b42;
}

    .fixed-action-btn:hover ion-icon, .fixed-action-btn:hover {
        -ms-transition: transform 0.5s;
        -o-transition: transform 0.5s;
        -webkit-transition: transform 0.5s;
        transition: transform 0.5s;
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

ion-icon {
    width: 30px;
    height: 30px;
}

.github {
    color: black;
}

.card {
    margin: auto;
}

.a-color-default {
    color: rgba(255, 255, 255, 0.6);
}

@keyframes hoverText {
    0% {
        color: rgba(255, 255, 255, 0.8);
    }

    50% {
        color: grey;
    }

    100% {
        color: #26282f;
    }
}

.radio-list {
    font-size: 22pt;
}

    .radio-list li {
        margin: 15% auto;
    }

.bigger {
    -ms-transition: font-size 0.5s;
    -o-transition: font-size 0.5s;
    -webkit-transition: font-size 0.5s;
    transition: font-size 0.5s;
    height: 40px;
}

    .bigger:hover {
        font-size: 24pt;
    }


/* .container { */
/*     width: 100vw !important; */
/*     margin: 0; */
/*     padding: 0; */
/* } */

main {
    width: 100vw;
}

.page-content {
    padding-top: 5%;
    margin-bottom: 5%;
    height: 50%;
}
.page > div {
    height: 90%;
}

.card {
    color: #26282f;
}

.pic {
    width: 300px;
}