@model IEnumerable<SongListViewModel>

@{
    ViewBag.Title = "Songs";
    Layout = "_Layout";
}



@if (!Model.Any())
{
    <h1 class="display-1 pt-5 p-3">There's nothing to show for <span id="date"></span></h1>
}
else
{
    <table class="table table-borderless table-hover">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Artist</th>
                <th scope="col">Radio station</th>
                <th scope="col">Time</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var song in Model)
            {
                <tr>
                    <td>@song.Name</td>
                    <td>@song.Artist</td>
                    <td>@song.RadioStation</td>
                    <td>@song.Date.ToShortTimeString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts
{
    <script src="~/js/music.js" type="text/javascript"></script>
}
