<div class="page" id="page2">
    <h1>Contacts</h1>
    <section class="page-content">
        <div class="parent">
            <div class="child">
                <div class="parent">
                    <div class="name-child"><p>Aneta Tsvetkova</p></div>
                    <div class="child"><a href="https://www.facebook.com/neti.tsvetkova" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a></div>
                    <div class="child"><a href="https://github.com/Owliie" target="_blank"><ion-icon name="logo-github"></ion-icon></a></div>
                </div>
            </div>
            <div class="child">
                <div class="parent">
                    <div class="name-child"><p>Mihail Gerginov</p></div>
                    <div class="child"><a href="https://www.facebook.com/whyareyoustalking" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a></div>
                    <div class="child"><a href="https://github.com/TheRandomTroll" target="_blank"><ion-icon name="logo-github"></ion-icon></a></div>
                </div>
            </div>
        </div>
    </section>
</div>