<div class="page" id="page6">
    <h1>Contacts</h1>
    <section class="page-content">
        <div class="row">
            <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="~/pictures/owl.jpg" class="card-img-top" alt="Aneta">
                    <div class="card-body">
                        <h5 class="card-title">Aneta Tsvetkova</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Student at ELSYS</li>
                        <li class="list-group-item">Front-end dev</li>
                        <li class="list-group-item">Music recognition dev</li>
                    </ul>
                    <div class="card-body pr-5 pl-5">
                        <a href="https://www.facebook.com/neti.tsvetkova" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a class="float-right github" href="https://github.com/Owliie" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card" style="width: 18rem;">
                    <img src="~/pictures/mg.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Mihail Gerginov</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Student at ELSYS</li>
                        <li class="list-group-item">Smart Radio dev</li>
                    </ul>
                    <div class="card-body pr-5 pl-5">
                        <a href="https://www.facebook.com/whyareyoustalking" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a class="float-right github" href="https://github.com/TheRandomTroll" target="_blank"><ion-icon name="logo-github"></ion-icon></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>