<div class="page" id="page4">
    <div class="page-content container">
        <div class="row h-75 align-items-end">
            <div class="col-6">
                <img src="pictures/haf.png" class="float-right" style="width: 400px"/>
            </div>
            <div class="col">
                <h1 class="font-weight-bold display-3">History & Friends</h1>
                <blockquote class="blockquote">
                    With this website you can easily keep track of what you have listened to throughout the day as well as the week, month, etc.
                </blockquote>
                <blockquote class="blockquote">
                    Moreover, you can connect with others by following them. This way you will be able to see which station they are currently listening to.
                </blockquote>
            </div>

        </div>
    </div>
</div>