<div class="page" id="page1">
    <div class="page-content container">
        <h2 class="display-3">Welcome to smart radio</h2>
        <p>This is the radio that perfectly combines vintage technology with newer one.</p>
        <p>These are some of the functionalities we offer:</p>
        <section class="icons">
            <ul class="list-unstyled">
                <li>
                    <a class="text-decoration-none a-color-default" href="#page2" onClick="goToPage(2)">
                        <ion-icon name="radio-outline"></ion-icon>
                        <p>Physical vintage radio</p>
                    </a>
                </li>
                <li>
                    <a class="text-decoration-none a-color-default" href="#page3" onClick="goToPage(3)">
                        <ion-icon name="globe-outline"></ion-icon>
                        <p>FM and Internet radio stations</p>
                    </a>
                </li>
                <li>
                    <a class="text-decoration-none a-color-default" href="#page4" onClick="goToPage(4)">
                        <ion-icon name="analytics-outline"></ion-icon>
                        <p>Music recognition</p>
                    </a>
                </li>
                <li>
                    <a class="text-decoration-none a-color-default" href="#page5" onClick="goToPage(5)">
                        <ion-icon name="share-social-outline"></ion-icon>
                        <p>Songs history and friends</p>
                    </a>
                </li>
            </ul>
        </section>
        <img class="arrow" onclick="scrollArrow()" src="pictures/arrow.png" />
    </div>

</div>