<div class="page" id="page1">
    <section class="page-content">
        <h2 class="display-3">Welcome to smart radio</h2>
        <p>This is the radio that perfectly combines vintage technology with newer one.</p>
        <p>These are some of the functionalities we offer:</p>
        <section class="icons">
            <ul class="list-unstyled">
                <li class="fadeInUp">
                    <ion-icon name="radio-outline"></ion-icon>
                    <p>Physical old radio</p>
                </li>
                <li class="fadeInUp">
                    <ion-icon name="globe-outline"></ion-icon>
                    <p>FM and Internet radio stations</p>
                </li>
                <li class="fadeInUp">
                    <ion-icon name="analytics-outline"></ion-icon>
                    <p>Music recognition</p>
                </li>
                <li class="fadeInUp">
                    <ion-icon name="share-social-outline"></ion-icon>
                    <p>History and friends</p>
                </li>
            </ul>
        </section>
    </section>
    <img class="arrow" onclick="scrollArrow()" src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png" />
</div>