<div class="page" id="page3">
    <div class="page-content container">
        <div class="row h-50 align-items-end">
            <div class="col-6">
                <h1 class="font-weight-bold display-3">Music Recognition</h1>
                <blockquote class="blockquote">
                    Unlike the ordinary smart radios this one comes with its own website in which you can check what you are listening to.
                </blockquote>
                <blockquote class="blockquote">
                    Integrated with its own music recognition algorithm, your radio will always be able to tell you what is currently being played.
                </blockquote>
            </div>
            <div class="col">
                <img src="pictures/musicRecognition.png" class="pic"/>
            </div>
        </div>
    </div>
</div>