<div class="page" id="page2">
    <div class="page-content container">
        <h1 class="font-weight-bold">Radio</h1>
        <div class="row h-75">
            <div class="col-6">
                <ul class="radio-list">
                    <li class="bigger font-italic font-weight-bold">Vintage physical radio</li>
                    <li class="bigger font-italic font-weight-bold">FM stations</li>
                    <li class="bigger font-italic font-weight-bold">Internet based stations</li>
                </ul>
            </div>
            <div class="col">
                <table class="table-borderless h-100">
                    <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <img class="w-75" src="pictures/esp32.png" alt="esp32"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="w-75" src="pictures/antenna.png" alt="antenna"/>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <img class="w-75" src="pictures/internet.png"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>