<div class="page" id="page2">
    <div class="page-content container">
        <div class="row h-75 align-items-end">
            <div class="col-6">
                <img src="pictures/radio.png" class="pic float-right"/>
            </div>
            <div class="col">
                <h1 class="font-weight-bold display-3">Radio</h1>
                <blockquote class="blockquote">
                    This vintage looking radio is in fact build upon newer technologies integrated in such a way to provide the user with the best experience no matter where they are.
                </blockquote>
                <blockquote class="blockquote">
                    Old-fashioned FM stations are interfered with the modern Internet based stations to provide convenience over distance.
                </blockquote>
            </div>
        </div>
    </div>
</div>