<div class="page" id="page2">
    <h1>Radio</h1>
    <section class="page-content h-100">
        <div class="row h-75">
            <div class="col-6">
                <ul class="radio-list">
                    <li class="bigger font-italic font-weight-bold">Vintage physical radio</li>
                    <li class="bigger font-italic font-weight-bold">FM stations</li>
                    <li class="bigger font-italic font-weight-bold">Internet based stations</li>
                </ul>
            </div>
            <div class="col">
                <table class="table-borderless h-100">
                    <tbody>
                    <tr>
                        <td></td>
                        <td>
                            <img class="w-75" src="pictures/esp32.png" alt="esp32"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img class="w-75" src="pictures/antenna.png" alt="antenna"/>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <img class="w-75" src="https://i.dlpng.com/static/png/347526_preview.png"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>