@{
    ViewData["Title"] = "Home Page";
}

@if (this.User.Identity.IsAuthenticated)
{
    <link type="text/css" rel="stylesheet" href="~/css/homeAuthenticated.css" />

    <div>
        <p>Hello, @this.User.Identity.Name</p>
    </div>
}
else
{
    <link type="text/css" rel="stylesheet" href="~/css/home.css" />

    <div class="page-wrapper">
        <partial name="_HomePartial" />
        <partial name="_RadioPartial" />
        <partial name="_RadioStationsPartial" />
        <partial name="_MusicRecognitionPartial" />
        <partial name="_HistoryAndFriendsPartial" />
        <partial name="_ContactsPartial" />
    </div>

    <button id="scrollToTop" title="Back to top" class="fixed-action-btn" onclick="scrollToHome()">
        <ion-icon name="home-outline"></ion-icon>
    </button>

    @section Scripts
        {
        <script type="text/javascript" src="~/js/verticalScroll.js"></script>
    }
}