@{
    ViewData["Title"] = "Home Page";
}

<link type="text/css" rel="stylesheet" href="~/css/home.css" />

@if (!this.User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Let me introduce you to Smart Radio!</h1>
    </div>
}
else
{
    <div class="page-wrapper">
        <div class="page" id="page1">
            <section class="page-content">
                <h2 class="display-3">Welcome to smart radio</h2>
                <p>This is the radio that perfectly combines vintage technology with newer one.</p>
                <p>These are some of the functionalities we offer:</p>
                <section class="icons">
                    <ul class="list-unstyled">
                        <li class="fadeInUp">
                            <ion-icon name="radio-outline"></ion-icon>
                            <p>Physical old radio</p>
                        </li>
                        <li class="fadeInUp">
                            <ion-icon name="globe-outline"></ion-icon>
                            <p>FM and Internet radio stations</p>
                        </li>
                        <li class="fadeInUp">
                            <ion-icon name="analytics-outline"></ion-icon>
                            <p>Music recognition</p>
                        </li>
                        <li class="fadeInUp">
                            <ion-icon name="share-social-outline"></ion-icon>
                            <p>History and friends</p>
                        </li>
                    </ul>
                </section>
            </section>
            <img class="arrow" onclick="scrollArrow()" src="https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png" />
        </div>

        <div class="page" id="page2">
            <h1>Contacts</h1>
            <section class="page-content">
                <div class="parent">
                    <div class="child">
                        <div class="parent">
                            <div class="name-child"><p>Aneta Tsvetkova</p></div>
                            <div class="child"><a href="https://www.facebook.com/neti.tsvetkova" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a></div>
                            <div class="child"><a href="https://github.com/Owliie" target="_blank"><ion-icon name="logo-github"></ion-icon></a></div>
                        </div>
                    </div>
                    <div class="child">
                        <div class="parent">
                            <div class="name-child"><p>Mihail Gerginov</p></div>
                            <div class="child"><a href="https://www.facebook.com/whyareyoustalking" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a></div>
                            <div class="child"><a href="https://github.com/TheRandomTroll" target="_blank"><ion-icon name="logo-github"></ion-icon></a></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <button id="scrollToTop" title="Back to top" class="fixed-action-btn" onclick="scrollToHome()">
        <ion-icon name="home-outline"></ion-icon>
    </button>
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/verticalScroll.js"></script>
}