@{
    ViewData["Title"] = "Home Page";
}

<link type="text/css" rel="stylesheet" href="~/css/home.css" />

@if (!this.User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Let me introduce you to Smart Radio!</h1>
    </div>
}
else
{
    <div class="page-wrapper">
        <partial name="_HomePartial"/>
        <partial name="_ContactsPartial"/>
    </div>

    <button id="scrollToTop" title="Back to top" class="fixed-action-btn" onclick="scrollToHome()">
        <ion-icon name="home-outline"></ion-icon>
    </button>
}

@section Scripts
    {
    <script type="text/javascript" src="~/js/verticalScroll.js"></script>
}